swift3/AmazonS3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  xmlns:tns="http://s3.amazonaws.com/doc/2006-03-01/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  targetNamespace="http://s3.amazonaws.com/doc/2006-03-01/">

  <xsd:element name="AccessControlPolicy" type="tns:AccessControlPolicy"/>

  <xsd:element name="BucketLoggingStatus" type="tns:BucketLoggingStatus"/>

  <xsd:element name="CompleteMultipartUpload" type="tns:CompleteMultipartUpload"/>

  <xsd:element name="CompleteMultipartUploadResult" type="tns:CompleteMultipartUploadResult"/>

  <xsd:element name="CopyObjectResult" type="tns:CopyObjectResult"/>

  <xsd:element name="CopyPartResult" type="tns:CopyPartResult"/>

  <xsd:element name="CreateBucketConfiguration" type="tns:CreateBucketConfiguration"/>

  <xsd:element name="Delete" type="tns:Delete"/>

  <xsd:element name="DeleteResult" type="tns:DeleteResult"/>

  <xsd:element name="Error" type="tns:Error"/>

  <xsd:element name="InitiateMultipartUploadResult" type="tns:InitiateMultipartUploadResult"/>

  <xsd:element name="LifecycleConfiguration" type="tns:LifecycleConfiguration"/>

  <xsd:element name="ListAllMyBucketsResult" type="tns:ListAllMyBucketsResult"/>

  <xsd:element name="ListBucketResult" type="tns:ListBucketResult"/>

  <xsd:element name="ListMultipartUploadsResult" type="tns:ListMultipartUploadsResult"/>

  <xsd:element name="ListPartsResult" type="tns:ListPartsResult"/>

  <xsd:element name="ListVersionsResult" type="tns:ListVersionsResult"/>

  <xsd:element name="LocationConstraint" type="tns:LocationConstraint"/>

  <xsd:element name="VersioningConfiguration" type="tns:VersioningConfiguration"/>

  <xsd:complexType name="MetadataEntry">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BucketLoggingStatus">
    <xsd:all>
      <xsd:element name="LoggingEnabled" type="tns:LoggingSettings" minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="LoggingSettings">
    <xsd:all>
      <xsd:element name="TargetBucket" type="xsd:string"/>
      <xsd:element name="TargetPrefix" type="xsd:string"/>
      <xsd:element name="TargetGrants" type="tns:AccessControlList" minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="Grantee"/>

  <xsd:complexType name="User" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="tns:Grantee"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AmazonCustomerByEmail">
    <xsd:complexContent>
      <xsd:extension base="tns:User">
        <xsd:all>
          <xsd:element name="EmailAddress" type="xsd:string"/>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CanonicalUser">
    <xsd:complexContent>
      <xsd:extension base="tns:User">
        <xsd:all>
          <xsd:element name="ID" type="xsd:string"/>
          <xsd:element name="DisplayName" type="xsd:string" minOccurs="0"/>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Group">
    <xsd:complexContent>
      <xsd:extension base="tns:Grantee">
        <xsd:all>
          <xsd:element name="URI" type="xsd:string"/>
        </xsd:all>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="Permission">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="READ"/>
      <xsd:enumeration value="WRITE"/>
      <xsd:enumeration value="READ_ACP"/>
      <xsd:enumeration value="WRITE_ACP"/>
      <xsd:enumeration value="FULL_CONTROL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StorageClass">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="STANDARD"/>
      <xsd:enumeration value="REDUCED_REDUNDANCY"/>
      <xsd:enumeration value="GLACIER"/>
      <xsd:enumeration value="UNKNOWN"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="Grant">
    <xsd:all>
      <xsd:element name="Grantee" type="tns:Grantee"/>
      <xsd:element name="Permission" type="tns:Permission"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="AccessControlList">
    <xsd:sequence>
      <xsd:element name="Grant" type="tns:Grant" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CreateBucketConfiguration">
    <xsd:all>
      <xsd:element name="LocationConstraint" type="tns:LocationConstraint"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="LocationConstraint">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="AccessControlPolicy">
    <xsd:all>
      <xsd:element name="Owner" type="tns:CanonicalUser"/>
      <xsd:element name="AccessControlList" type="tns:AccessControlList"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="ListEntry">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="LastModified" type="xsd:dateTime"/>
      <xsd:element name="ETag" type="xsd:string"/>
      <xsd:element name="Size" type="xsd:long"/>
      <xsd:element name="Owner" type="tns:CanonicalUser" minOccurs="0"/>
      <xsd:element name="StorageClass" type="tns:StorageClass"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="VersionEntry">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="VersionId" type="xsd:string"/>
      <xsd:element name="IsLatest" type="xsd:boolean"/>
      <xsd:element name="LastModified" type="xsd:dateTime"/>
      <xsd:element name="ETag" type="xsd:string"/>
      <xsd:element name="Size" type="xsd:long"/>
      <xsd:element name="Owner" type="tns:CanonicalUser" minOccurs="0"/>
      <xsd:element name="StorageClass" type="tns:StorageClass"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeleteMarkerEntry">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="VersionId" type="xsd:string"/>
      <xsd:element name="IsLatest" type="xsd:boolean"/>
      <xsd:element name="LastModified" type="xsd:dateTime"/>
      <xsd:element name="Owner" type="tns:CanonicalUser" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PrefixEntry">
    <xsd:sequence>
      <xsd:element name="Prefix" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListBucketResult">
    <xsd:sequence>
      <xsd:element name="Metadata" type="tns:MetadataEntry" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Prefix" type="xsd:string"/>
      <xsd:element name="Marker" type="xsd:string"/>
      <xsd:element name="NextMarker" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MaxKeys" type="xsd:int"/>
      <xsd:element name="EncodingType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Delimiter" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IsTruncated" type="xsd:boolean"/>
      <xsd:element name="Contents" type="tns:ListEntry" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="CommonPrefixes" type="tns:PrefixEntry" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListVersionsResult">
    <xsd:sequence>
      <xsd:element name="Metadata" type="tns:MetadataEntry" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Prefix" type="xsd:string"/>
      <xsd:element name="KeyMarker" type="xsd:string"/>
      <xsd:element name="VersionIdMarker" type="xsd:string"/>
      <xsd:element name="NextKeyMarker" type="xsd:string" minOccurs="0"/>
      <xsd:element name="NextVersionIdMarker" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MaxKeys" type="xsd:int"/>
      <xsd:element name="EncodingType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Delimiter" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IsTruncated" type="xsd:boolean"/>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="Version" type="tns:VersionEntry"/>
          <xsd:element name="DeleteMarker" type="tns:DeleteMarkerEntry"/>
      </xsd:choice>
      <xsd:element name="CommonPrefixes" type="tns:PrefixEntry" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListAllMyBucketsEntry">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="CreationDate" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListAllMyBucketsResult">
    <xsd:sequence>
      <xsd:element name="Owner" type="tns:CanonicalUser"/>
      <xsd:element name="Buckets" type="tns:ListAllMyBucketsList"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListAllMyBucketsList">
    <xsd:sequence>
      <xsd:element name="Bucket" type="tns:ListAllMyBucketsEntry" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CopyObjectResult">
    <xsd:sequence>
      <xsd:element name="LastModified" type="xsd:dateTime"/>
      <xsd:element name="ETag" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CopyPartResult">
    <xsd:sequence>
      <xsd:element name="LastModified" type="xsd:dateTime"/>
      <xsd:element name="ETag" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RequestPaymentConfiguration">
    <xsd:sequence>
      <xsd:element name="Payer" type="tns:Payer" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="Payer">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BucketOwner"/>
      <xsd:enumeration value="Requester"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="VersioningConfiguration">
    <xsd:all>
      <xsd:element name="Status" type="tns:VersioningStatus" minOccurs="0"/>
      <!-- Swift3 is not supported MfaDelete
      <xsd:element name="MfaDelete" type="tns:MfaDeleteStatus" minOccurs="0"/>
      -->
    </xsd:all>
  </xsd:complexType>

  <xsd:simpleType name="MfaDeleteStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Enabled"/>
      <xsd:enumeration value="Disabled"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="VersioningStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Enabled"/>
      <xsd:enumeration value="Suspended"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="NotificationConfiguration">
    <xsd:sequence>
      <xsd:element name="TopicConfiguration" minOccurs="0" maxOccurs="unbounded" type="tns:TopicConfiguration"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TopicConfiguration">
    <xsd:sequence>
      <xsd:element name="Topic" minOccurs="1" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="Event" minOccurs="1" maxOccurs="unbounded" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Error">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string"/>
      <xsd:element name="Message" type="xsd:string"/>
      <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" processContents="skip"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LifecycleConfiguration">
    <xsd:sequence>
      <xsd:element name="Rule" minOccurs="0" maxOccurs="1000" type="tns:Rule"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Rule">
    <xsd:all>
      <xsd:element name="ID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Prefix" type="xsd:string"/>
      <xsd:element name="Status" type="tns:LifecycleStatus"/>
      <xsd:element name="Transition" type="tns:Transition" minOccurs="0"/>
      <xsd:element name="Expiration" type="tns:Expiration" minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:simpleType name="LifecycleStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Enabled"/>
      <xsd:enumeration value="Disabled"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:element abstract="true" name="Period"/>
  <xsd:element name="Days" type="xsd:int" substitutionGroup="tns:Period"/>
  <xsd:element name="Date" type="xsd:dateTime" substitutionGroup="tns:Period"/>

  <xsd:complexType name="Expiration">
    <xsd:all>
      <xsd:element ref="tns:Period"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="Transition">
    <xsd:all>
      <xsd:element ref="tns:Period"/>
      <xsd:element name="StorageClass" type="tns:StorageClass"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="Delete">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="Quiet" type="xsd:boolean"/>
        <xsd:element name="Object" type="tns:Object" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element name="Object" type="tns:Object" maxOccurs="unbounded"/>
        <xsd:sequence minOccurs="0">
          <xsd:element name="Quiet" type="xsd:boolean"/>
          <xsd:element name="Object" type="tns:Object" minOccurs="0" maxOccurs="1000"/>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="Object">
    <xsd:all>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="VersionId" type="xsd:string" minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DeleteResult">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded">
        <xsd:element name="Deleted" type="tns:DeleteSuccess"/>
        <xsd:element name="Error" type="tns:DeleteError"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeleteSuccess">
    <xsd:all>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="VersionId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DeleteMarker" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="DeleteMarkerVersionId" type="xsd:string" minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DeleteError">
    <xsd:all>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="VersionId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Code" type="xsd:string"/>
      <xsd:element name="Message" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="InitiateMultipartUploadResult">
    <xsd:sequence>
      <xsd:element name="Bucket" type="xsd:string"/>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="UploadId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListPartsResult">
    <xsd:sequence>
      <xsd:element name="Bucket" type="xsd:string"/>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="UploadId" type="xsd:string"/>
      <xsd:element name="Initiator" type="tns:CanonicalUser"/>
      <xsd:element name="Owner" type="tns:CanonicalUser"/>
      <xsd:element name="StorageClass" type="tns:StorageClass"/>
      <xsd:element name="PartNumberMarker" type="xsd:int"/>
      <xsd:element name="NextPartNumberMarker" type="xsd:int"/>
      <xsd:element name="MaxParts" type="xsd:int"/>
      <xsd:element name="EncodingType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IsTruncated" type="xsd:boolean"/>
      <xsd:element name="Part" type="tns:ListPartEntry" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListPartEntry">
    <xsd:sequence>
      <xsd:element name="PartNumber" type="xsd:int"/>
      <xsd:element name="LastModified" type="xsd:dateTime"/>
      <xsd:element name="ETag" type="xsd:string"/>
      <xsd:element name="Size" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CompleteMultipartUpload">
    <xsd:sequence>
      <xsd:element name="Part" type="tns:PartEntry" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PartEntry">
    <xsd:all>
      <xsd:element name="PartNumber" type="xsd:int"/>
      <xsd:element name="ETag" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="CompleteMultipartUploadResult">
    <xsd:sequence>
      <xsd:element name="Location" type="xsd:anyURI"/>
      <xsd:element name="Bucket" type="xsd:string"/>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="ETag" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListMultipartUploadsResult">
    <xsd:sequence>
      <xsd:element name="Bucket" type="xsd:string"/>
      <xsd:element name="KeyMarker" type="xsd:string"/>
      <xsd:element name="UploadIdMarker" type="xsd:string"/>
      <xsd:element name="NextKeyMarker" type="xsd:string"/>
      <xsd:element name="NextUploadIdMarker" type="xsd:string"/>
      <xsd:element name="Delimiter" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Prefix" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MaxUploads" type="xsd:int"/>
      <xsd:element name="EncodingType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IsTruncated" type="xsd:boolean"/>
      <xsd:element name="Upload" type="tns:UploadEntry" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="CommonPrefixes" type="tns:PrefixEntry" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UploadEntry">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="UploadId" type="xsd:string"/>
      <xsd:element name="Initiator" type="tns:CanonicalUser"/>
      <xsd:element name="Owner" type="tns:CanonicalUser"/>
      <xsd:element name="StorageClass" type="tns:StorageClass"/>
      <xsd:element name="Initiated" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
